# Vendored TinyUSB: only src/ is tracked
examples/
hw/
test/
tools/
docs/
lib/
.github/
.circleci/
.idea/
.clang-format
.codespellrc
.gitattributes
.pre-commit-config.yaml
.readthedocs.yaml
CODE_OF_CONDUCT.rst
CONTRIBUTORS.rst
SConscript
library.json
pkg.yml
repository.yml
version.yml

